// main: ./../main.less
.btn {
   font-size: 16px;
   transition: 0.3s;
   display: inline-block;




}

.btn-reset {
   padding: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
}